<h1 lg2>
    Make Your Life Easy With Intranet!
</h1>
<h5>
    To make a workspace from scratch, please confirm your email address
</h5>
<form (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <!-- <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div> -->
    </div>
</form>